<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>EditProduct</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>GetProductsToAdmin</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddProduct</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>GetUsersToAdmin</servlet-name>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsersToAdmin</servlet-name>
        <servlet-class>servlets.GetUsersToAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlets.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsToAdmin</servlet-name>
        <servlet-class>servlets.GetProductsToAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustProducts</servlet-name>
        <servlet-class>servlets.ViewCustProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>servlets.EditProduct</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>servlets.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>servlets.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSessionCounter</servlet-name>
        <servlet-class>servlets.GetSessionCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProuductFromCart</servlet-name>
        <servlet-class>servlets.DeleteProuductFromCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersToAdmin</servlet-name>
        <url-pattern>/GetUsersToAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsToAdmin</servlet-name>
        <url-pattern>/GetProductsToAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustProducts</servlet-name>
        <url-pattern>/ViewCustProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSessionCounter</servlet-name>
        <url-pattern>/GetSessionCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProuductFromCart</servlet-name>
        <url-pattern>/DeleteProuductFromCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
